{% extends '@DardosBundle/Resources/views/layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme edit_form.medias _self %}

{%- block form_widget -%}
    {% if compound %}
        <div style="border-bottom: 2px solid #444444;"></div>
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}

{%- endblock form_widget -%}

{% block content %}
    <h1>Editar partida</h1>
    {{ form_start(edit_form) }}
    <div class="col-lg-6 col-sm-12">
        {{ form_widget(edit_form) }}
        <input style="float:right;" class="btn btn-success" type="submit" value="Editar" />
        {% for media in edit_form.medias %}
            {{ form_widget(media) }}
        {% endfor %}

    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <a class="btn btn-info" href="{{ path('partida_index') }}">Volver al listado</a>
        <input class="btn btn-danger" type="submit" value="Borrar">
    {{ form_end(delete_form) }}
    </div>
{% endblock %}
